<section class="dashboard">
    <h2>Employees</h2>
    <div class="filter-bar">
      <!-- Add filters (search, filter, sort) here -->
    </div>
    <div class="employee-grid">
      <div class="employee-card" >
        dashboard
        <!-- <img [src]="employee.image" alt="Employee Image" class="employee-img">
        <div class="employee-info">
          <h3>{{ employee.name }}</h3>
          <p>{{ employee.position }}</p>
          <p>{{ employee.department }}</p>
          <p>{{ employee.joinDate }}</p>
        </div> -->
      </div>
    </div>
  </section>
  