<header class="header">
  <div class="logo">
    <img src="assets/logo.png" alt="Logo" />
    <div class="company-name">Your Logo</div>
  </div>

  <div class="header-right">
    <span class="date">28 Oct 2023</span>
    <mat-divider orientation="vertical"></mat-divider>
    <mat-icon aria-hidden="false" aria-label="Notifications">notifications_none</mat-icon>
    <mat-icon aria-hidden="false" aria-label="Language Settings">language</mat-icon>
    <img src="assets/user.png" alt="User" class="avatar" />
    <span>Sanjaya Perera</span>
    <mat-icon aria-hidden="false" aria-label="Dropdown">expand_more</mat-icon>
  </div>
</header>