<nav class="sidenav" [ngClass]="{'collapsed': isCollapsed}">
    <button (click)="toggleSidenav()" class="toggle-button">
        <i class="fas" [ngClass]="isCollapsed ? 'fa-angle-right' : 'fa-angle-left'"></i>
    </button>
    <ul>
        <li>
            <a href="client-management" (click)="onSidebarItemClick($event)">
                <i class="fas fa-users"></i>
                <span class="sidebar-text" *ngIf="!isCollapsed">User Management</span>
            </a>
        </li>
        <li>
            <a href="dashboard" (click)="onSidebarItemClick($event)">
                <i class="fas fa-tachometer-alt"></i>
                <span class="sidebar-text" *ngIf="!isCollapsed">Dashboard</span>
            </a>
        </li>
        <li>
            <a href="#" (click)="onSidebarItemClick($event)">
                <i class="fas fa-chart-bar"></i>
                <span class="sidebar-text" *ngIf="!isCollapsed">Client Management</span>
            </a>
        </li>
        <li>
            <a href="#" (click)="onSidebarItemClick($event)">
                <i class="fas fa-calendar-alt"></i>
                <span class="sidebar-text" *ngIf="!isCollapsed">Schedules</span>
            </a>
        </li>
        <li>
            <a href="#" (click)="onSidebarItemClick($event)">
                <i class="fas fa-cog"></i>
                <span class="sidebar-text" *ngIf="!isCollapsed">Settings</span>
            </a>
        </li>
    </ul>

    <div class="bottom-area">
        <div class="mode-toggle">
            <button class="theme-button" (click)="changeTheme('light')"
                [ngClass]="{'active': selectedTheme === 'light'}">
                <i class="fas fa-sun"></i>
                <span class="icon-text">Light</span>
            </button>
            <button class="theme-button" (click)="changeTheme('dark')" [ngClass]="{'active': selectedTheme === 'dark'}">
                <i class="fas fa-moon"></i>
                <span class="icon-text">Dark</span>
            </button>
        </div>
    </div>
</nav>