.sidenav {
    width: 180px;
    height: 100vh;
    background-color: #f4f4f4; /* Light mode background */
    color: #8A8C91; /* Light mode text color */
    padding: 20px;
    position: relative;
    transition: background-color 0.3s ease, color 0.3s ease, width 0.3s ease;
}

.bottom-area {
    position: fixed;
    bottom: 0;
}

.mode-toggle {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    background-color: #f4f4f4; /* Default light background */
    width: 210px;
    left: 0;
    margin-left: -18px;
    height: 50px;
    transition: background-color 0.3s ease; /* Smooth transition */
}

/* Dark mode styles for the mode-toggle container */
.sidenav.dark .mode-toggle {
    background-color: #2D2F39; /* Dark background */
}

.theme-button {
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    color: #8A8C91; /* Default light text color */
    cursor: pointer;
    padding: 10px;
    transition: color 0.3s ease;
}

.theme-button i {
    margin-right: 5px;
}

/* Dark mode styles for buttons */
.sidenav.dark .theme-button {
    color: #fff; /* Dark mode text color */
}

/* Active button styles */
.theme-button.active {
    font-weight: bold;
    color: grey; /* Set the active button color to grey */
}

/* Hover effects */
.theme-button:hover {
    color: #646767; 
}

.sidenav.dark .theme-button:hover {
    color: #33a0a3; /* Change this to your dark mode hover color */
}

.sidenav.collapsed {
    width: 10px;
}

.sidenav ul {
    list-style: none;
    padding: 0;
}

.sidenav ul li {
    margin-bottom: 20px;
}

.sidenav ul li a {
    color: #8A8C91; /* Light mode link color */
    text-decoration: none;
    display: flex;
    align-items: center;
    transition: color 0.3s ease;
}

.sidenav ul li a i {
    margin-right: 10px;
    font-size: 16px;
}

/* Dark mode styles for sidebar links */
.sidenav.dark ul li a {
    color: #8A8C91; /* Dark mode link color */
}

.sidenav.dark ul li a:hover,
.sidenav.dark ul li a.active {
    color: #fff; /* Active link color in dark mode */
    background-color: transparent;
}

.toggle-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: #8A8C91; /* Light mode toggle color */
}

/* Dark mode styles for toggle button */
.sidenav.dark .toggle-button {
    color: #fff; /* Dark mode toggle color */
}

.toggle-btn {
    position: absolute;
    top: 10px;
    right: -20px; 
    background-color: #2d3e50;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

.toggle-btn:hover {
    background-color: #3a4a61;
}

.sidenav.dark {
    background-color: #2d3e50; /* Dark mode background */
    color: #8A8C91; /* Text color in dark mode */
}

.sidenav.dark ul li a {
    color: #8A8C91; /* Dark mode link color */
}
