:root {
    --background-color: #f4f4f4;
    --text-color: #333;
    --border-color: #ccc;
    --title-color: #000;
    --sub-text-color: #7A7A7A;
  }
  
  /* Global dark theme styles */
  .dark-theme {
    --background-color: #2d3e50;
    --text-color: #8A8C91;
    --border-color: #444;
    --title-color: #fff;
    --sub-text-color: #c1c0d9;
  }
  
  /* Apply variables globally */
  body {
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
  }
  
html, body { height: 100%; }
body { margin: 0; font-family:"Domine", serif;}
